<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033619796797-lrugdd92qojplqgkffkl3dlc7nm15vhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033619796797-lrugdd92qojplqgkffkl3dlc7nm15vhg</string>
	<key>API_KEY</key>
	<string>AIzaSyDauIsJxtBgih7QjEHnFQHY-ua7YBXx7W8</string>
	<key>GCM_SENDER_ID</key>
	<string>1033619796797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flex</string>
	<key>PROJECT_ID</key>
	<string>flexme-ng</string>
	<key>STORAGE_BUCKET</key>
	<string>flexme-ng.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033619796797:ios:66a57cd6c5c7bbadd64b54</string>
</dict>
</plist>